@model IEnumerable<Product>

<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@(product.Quantity + " шт.")</td>
                <td>
                    <button data-id="@product.Id" data-action="edit">Изменить</button>
                    <button data-id="@product.Id" data-action="del">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>