@using NoSTORE.Models.DTO
@model UserDto
@{
    ViewData["Title"] = "Профиль";
    ViewData["CSS"] = "profile.css";
}

<script type="module" src="~/js-new/pages/profile/index.js"></script>

<section class="profile">
    <nav class="profile-menu">
        <a asp-controller="User" asp-action="Index" asp-route-section="settings" id="settings">
            <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.6944 21.0268C27.2582 20.885 25.8132 21.1905 24.5574 21.9016C23.3015 22.6128 22.2961 23.6947 21.6789 24.9992C21.0617 26.3038 20.8628 27.7672 21.1094 29.1892C21.356 30.6112 22.0362 31.9222 23.0567 32.9427C24.0772 33.9632 25.3882 34.6433 26.8102 34.89C28.2321 35.1366 29.6956 34.9377 31.0002 34.3205C32.3047 33.7032 33.3866 32.6979 34.0977 31.442C34.8088 30.1862 35.1144 28.7412 34.9725 27.305C34.8108 25.6949 34.0974 24.1903 32.9532 23.0461C31.809 21.902 30.3044 21.1886 28.6944 21.0268ZM45.5491 27.9929C45.5446 28.7538 45.4887 29.5135 45.3817 30.2668L50.3266 34.1453C50.5419 34.3238 50.687 34.5728 50.7361 34.8481C50.7851 35.1235 50.735 35.4073 50.5946 35.6492L45.9166 43.7429C45.7745 43.9825 45.5525 44.1642 45.2895 44.256C45.0266 44.3479 44.7397 44.344 44.4794 44.245L39.5685 42.2675C39.2976 42.1596 39.0043 42.1207 38.7147 42.1541C38.4252 42.1875 38.1484 42.2922 37.9092 42.4589C37.1598 42.975 36.3722 43.4335 35.5533 43.8304C35.2959 43.9556 35.0732 44.1421 34.9049 44.3737C34.7367 44.6053 34.6281 44.8747 34.5886 45.1582L33.8525 50.3962C33.8042 50.6728 33.6613 50.9241 33.4482 51.107C33.2351 51.29 32.9652 51.3932 32.6844 51.3992H23.3285C23.0523 51.3944 22.7861 51.2957 22.5735 51.1194C22.361 50.943 22.2149 50.6995 22.1592 50.429L21.4242 45.1987C21.383 44.9121 21.2715 44.6401 21.0998 44.4069C20.928 44.1737 20.7014 43.9866 20.4399 43.8622C19.622 43.4674 18.8371 43.0076 18.0927 42.4873C17.8544 42.3215 17.5785 42.2176 17.29 42.1849C17.0015 42.1523 16.7094 42.1919 16.44 42.3003L11.5302 44.2767C11.27 44.3758 10.9832 44.3798 10.7203 44.2882C10.4574 44.1966 10.2352 44.0151 10.093 43.7757L5.41503 35.682C5.27439 35.4402 5.22413 35.1563 5.2732 34.8809C5.32227 34.6055 5.46749 34.3564 5.683 34.1781L9.86222 30.8968C10.0912 30.7151 10.2711 30.479 10.3857 30.2101C10.5003 29.9412 10.546 29.6479 10.5185 29.3568C10.4791 28.9007 10.455 28.4457 10.455 27.9897C10.455 27.5336 10.478 27.0851 10.5185 26.6389C10.543 26.3496 10.4951 26.0588 10.3792 25.7926C10.2633 25.5265 10.083 25.2933 9.85456 25.1142L5.67753 21.8329C5.46552 21.6537 5.32336 21.4055 5.27597 21.1319C5.22857 20.8584 5.27896 20.5768 5.41831 20.3367L10.0963 12.2429C10.2383 12.0034 10.4604 11.8217 10.7233 11.7298C10.9862 11.638 11.2732 11.6419 11.5335 11.7409L16.4444 13.7184C16.7152 13.8262 17.0086 13.8652 17.2981 13.8318C17.5877 13.7984 17.8645 13.6937 18.1036 13.527C18.8531 13.0109 19.6407 12.5524 20.4596 12.1554C20.717 12.0303 20.9397 11.8437 21.1079 11.6121C21.2762 11.3806 21.3848 11.1111 21.4242 10.8276L22.1603 5.58965C22.2087 5.31302 22.3516 5.06177 22.5647 4.87883C22.7777 4.6959 23.0477 4.59263 23.3285 4.58669H32.6844C32.9605 4.59146 33.2268 4.69015 33.4393 4.8665C33.6519 5.04285 33.798 5.28634 33.8536 5.55684L34.5886 10.7872C34.6299 11.0738 34.7414 11.3458 34.9131 11.579C35.0848 11.8121 35.3115 11.9993 35.573 12.1237C36.3909 12.5185 37.1758 12.9783 37.9202 13.4986C38.1585 13.6644 38.4344 13.7683 38.7229 13.801C39.0114 13.8336 39.3035 13.794 39.5728 13.6856L44.4827 11.7092C44.7429 11.6101 45.0297 11.606 45.2926 11.6977C45.5555 11.7893 45.7776 11.9708 45.9199 12.2101L50.5978 20.3039C50.7385 20.5457 50.7887 20.8296 50.7397 21.105C50.6906 21.3804 50.5454 21.6294 50.3299 21.8078L46.1507 25.089C45.9207 25.2702 45.7397 25.506 45.6241 25.775C45.5086 26.0439 45.4621 26.3375 45.4889 26.629C45.525 27.0818 45.5491 27.5368 45.5491 27.9929Z" />
            </svg>
            Настройки
        </a>
        <a asp-controller="User" asp-action="Index" asp-route-section="pcs" id="pcs">
            <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28 3.5C28 2.57174 28.3687 1.6815 29.0251 1.02513C29.6815 0.368749 30.5717 0 31.5 0L52.5 0C53.4283 0 54.3185 0.368749 54.9749 1.02513C55.6312 1.6815 56 2.57174 56 3.5V52.5C56 53.4283 55.6312 54.3185 54.9749 54.9749C54.3185 55.6312 53.4283 56 52.5 56H31.5C30.5717 56 29.6815 55.6312 29.0251 54.9749C28.3687 54.3185 28 53.4283 28 52.5V3.5ZM31.5 50.75C31.5 50.2859 31.6844 49.8408 32.0126 49.5126C32.3408 49.1844 32.7859 49 33.25 49C33.7141 49 34.1592 49.1844 34.4874 49.5126C34.8156 49.8408 35 50.2859 35 50.75C35 51.2141 34.8156 51.6592 34.4874 51.9874C34.1592 52.3156 33.7141 52.5 33.25 52.5C32.7859 52.5 32.3408 52.3156 32.0126 51.9874C31.6844 51.6592 31.5 51.2141 31.5 50.75ZM38.5 50.75C38.5 50.2859 38.6844 49.8408 39.0126 49.5126C39.3408 49.1844 39.7859 49 40.25 49C40.7141 49 41.1592 49.1844 41.4874 49.5126C41.8156 49.8408 42 50.2859 42 50.75C42 51.2141 41.8156 51.6592 41.4874 51.9874C41.1592 52.3156 40.7141 52.5 40.25 52.5C39.7859 52.5 39.3408 52.3156 39.0126 51.9874C38.6844 51.6592 38.5 51.2141 38.5 50.75ZM33.25 3.5C32.7859 3.5 32.3408 3.68437 32.0126 4.01256C31.6844 4.34075 31.5 4.78587 31.5 5.25C31.5 5.71413 31.6844 6.15925 32.0126 6.48744C32.3408 6.81563 32.7859 7 33.25 7H50.75C51.2141 7 51.6592 6.81563 51.9874 6.48744C52.3156 6.15925 52.5 5.71413 52.5 5.25C52.5 4.78587 52.3156 4.34075 51.9874 4.01256C51.6592 3.68437 51.2141 3.5 50.75 3.5H33.25ZM31.5 12.25C31.5 11.7859 31.6844 11.3408 32.0126 11.0126C32.3408 10.6844 32.7859 10.5 33.25 10.5H50.75C51.2141 10.5 51.6592 10.6844 51.9874 11.0126C52.3156 11.3408 52.5 11.7859 52.5 12.25C52.5 12.7141 52.3156 13.1592 51.9874 13.4874C51.6592 13.8156 51.2141 14 50.75 14H33.25C32.7859 14 32.3408 13.8156 32.0126 13.4874C31.6844 13.1592 31.5 12.7141 31.5 12.25ZM5.25 7C3.85761 7 2.52226 7.55312 1.53769 8.53769C0.553123 9.52226 0 10.8576 0 12.25L0 36.75C0 38.1424 0.553123 39.4777 1.53769 40.4623C2.52226 41.4469 3.85761 42 5.25 42H21V49H19.25C18.7859 49 18.3408 49.1844 18.0126 49.5126C17.6844 49.8408 17.5 50.2859 17.5 50.75C17.5 51.2141 17.6844 51.6592 18.0126 51.9874C18.3408 52.3156 18.7859 52.5 19.25 52.5H24.5V38.5H5.25C4.78587 38.5 4.34075 38.3156 4.01256 37.9874C3.68437 37.6592 3.5 37.2141 3.5 36.75V12.25C3.5 11.7859 3.68437 11.3408 4.01256 11.0126C4.34075 10.6844 4.78587 10.5 5.25 10.5H24.5V7H5.25Z" />
            </svg>
            Сборки ПК
        </a>
        <a asp-controller="User" asp-action="Index" asp-route-section="orders" id="orders">
            <svg viewBox="0 0 62 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.75016 24.875L5.81266 21H19.3752L17.8252 17.125H5.16683L3.22933 13.25H23.3793L21.8293 9.37498H2.86766L0.645996 5.49998H10.3335C10.3335 4.12969 10.8778 2.81553 11.8468 1.84659C12.8157 0.877656 14.1299 0.333313 15.5002 0.333313H46.5002V10.6666H54.2502L62.0002 21V33.9166H56.8335C56.8335 35.9721 56.017 37.9433 54.5636 39.3967C53.1102 40.8501 51.1389 41.6666 49.0835 41.6666C47.0281 41.6666 45.0568 40.8501 43.6034 39.3967C42.15 37.9433 41.3335 35.9721 41.3335 33.9166H31.0002C31.0002 35.9721 30.1837 37.9433 28.7302 39.3967C27.2768 40.8501 25.3056 41.6666 23.2502 41.6666C21.1947 41.6666 19.2235 40.8501 17.7701 39.3967C16.3167 37.9433 15.5002 35.9721 15.5002 33.9166H10.3335V24.875H7.75016ZM49.0835 37.7916C50.1112 37.7916 51.0968 37.3834 51.8235 36.6567C52.5502 35.93 52.9585 34.9444 52.9585 33.9166C52.9585 32.8889 52.5502 31.9033 51.8235 31.1766C51.0968 30.4499 50.1112 30.0416 49.0835 30.0416C48.0558 30.0416 47.0702 30.4499 46.3435 31.1766C45.6168 31.9033 45.2085 32.8889 45.2085 33.9166C45.2085 34.9444 45.6168 35.93 46.3435 36.6567C47.0702 37.3834 48.0558 37.7916 49.0835 37.7916ZM52.9585 14.5416H46.5002V21H58.0218L52.9585 14.5416ZM23.2502 37.7916C24.2779 37.7916 25.2635 37.3834 25.9902 36.6567C26.7169 35.93 27.1252 34.9444 27.1252 33.9166C27.1252 32.8889 26.7169 31.9033 25.9902 31.1766C25.2635 30.4499 24.2779 30.0416 23.2502 30.0416C22.2225 30.0416 21.2368 30.4499 20.5101 31.1766C19.7834 31.9033 19.3752 32.8889 19.3752 33.9166C19.3752 34.9444 19.7834 35.93 20.5101 36.6567C21.2368 37.3834 22.2225 37.7916 23.2502 37.7916Z" />
            </svg>
            Заказы
        </a>
        <a asp-controller="User" asp-action="Index" asp-route-section="reviews" id="orders">
            <svg viewBox="0 0 62 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.75016 24.875L5.81266 21H19.3752L17.8252 17.125H5.16683L3.22933 13.25H23.3793L21.8293 9.37498H2.86766L0.645996 5.49998H10.3335C10.3335 4.12969 10.8778 2.81553 11.8468 1.84659C12.8157 0.877656 14.1299 0.333313 15.5002 0.333313H46.5002V10.6666H54.2502L62.0002 21V33.9166H56.8335C56.8335 35.9721 56.017 37.9433 54.5636 39.3967C53.1102 40.8501 51.1389 41.6666 49.0835 41.6666C47.0281 41.6666 45.0568 40.8501 43.6034 39.3967C42.15 37.9433 41.3335 35.9721 41.3335 33.9166H31.0002C31.0002 35.9721 30.1837 37.9433 28.7302 39.3967C27.2768 40.8501 25.3056 41.6666 23.2502 41.6666C21.1947 41.6666 19.2235 40.8501 17.7701 39.3967C16.3167 37.9433 15.5002 35.9721 15.5002 33.9166H10.3335V24.875H7.75016ZM49.0835 37.7916C50.1112 37.7916 51.0968 37.3834 51.8235 36.6567C52.5502 35.93 52.9585 34.9444 52.9585 33.9166C52.9585 32.8889 52.5502 31.9033 51.8235 31.1766C51.0968 30.4499 50.1112 30.0416 49.0835 30.0416C48.0558 30.0416 47.0702 30.4499 46.3435 31.1766C45.6168 31.9033 45.2085 32.8889 45.2085 33.9166C45.2085 34.9444 45.6168 35.93 46.3435 36.6567C47.0702 37.3834 48.0558 37.7916 49.0835 37.7916ZM52.9585 14.5416H46.5002V21H58.0218L52.9585 14.5416ZM23.2502 37.7916C24.2779 37.7916 25.2635 37.3834 25.9902 36.6567C26.7169 35.93 27.1252 34.9444 27.1252 33.9166C27.1252 32.8889 26.7169 31.9033 25.9902 31.1766C25.2635 30.4499 24.2779 30.0416 23.2502 30.0416C22.2225 30.0416 21.2368 30.4499 20.5101 31.1766C19.7834 31.9033 19.3752 32.8889 19.3752 33.9166C19.3752 34.9444 19.7834 35.93 20.5101 36.6567C21.2368 37.3834 22.2225 37.7916 23.2502 37.7916Z" />
            </svg>
            Отзывы
        </a>
        <button id="logout_disable">
            <svg id="lg" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.9903 7H7V49H28" />
                <path d="M38.5 38.5L49 28L38.5 17.5" />
                <path d="M18.667 27.9904H49.0003" />
            </svg>
            Выйти
        </button>
    </nav>
    <div id="profile-content">
        @switch (ViewBag.Section ?? "settings")
        {
            case "basket":
                <partial name="Partials/_Basket" model="@Model" />
                break;
            case "favorites":
                <partial name="Partials/_Favorites" model="@Model" />
                break;
            case "pcs":
                <partial name="Partials/_Pcs" model="@Model" />
                break;
            case "orders":
                <partial name="Partials/_Orders" model="@Model" />
                break;
            default:
                <partial name="Partials/_Settings" model="@Model" />
                break;
        }
    </div>
</section>