@model Product

@{
    ViewData["Title"] = Model.Name;
    ViewData["CSS"] = "details_product.css";

}
<script src="https://unpkg.com/@@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    tippy('.fav_button button', {
    content: 'Добавить в избранное',
    placement: 'bottom',
    animation: 'fade',
    arrow: false,
    });
    tippy('.product__price button', {
        content: 'Открыть историю цены',
        placement: 'bottom',
        animation: 'fade',
        arrow: false,
    });
    tippy('.comp_button button', {
    content: 'Добавить в сравнение',
    placement: 'bottom',
    animation: 'fade',
    arrow: false,
    });
    });
</script>
<section class="product">
    <section class="main">
        <div class="images">
            <div class="images__slider">
                <img src="https://placehold.co/90" />
                <img src="https://placehold.co/90" />
                <img src="https://placehold.co/90" />
                <img src="https://placehold.co/90" />
                <img src="https://placehold.co/90" />
            </div>
            <div class="line"></div>
            <div class="main_image">
                <img src="~/photos/products/@Model.Name/@Model.Images[0]" />
            </div>
        </div>
        <div>
            <div class="main__info">
                <div class="titles">
                    <h1>@Model.Name</h1>
                    <p>@Model.TagsInString()</p>
                </div>
                <div class="manufracturer">
                    <img class="company_icon" src="~/photos/companies/@(Model.Manufracturer()).png" />
                    @*Здесь ссылка на отзывы вниз.*@
                    <div class="rating">
                        <img class="star_icon" src="~/svg/activites/noact/star.svg" />
                        @if (Model.Rating > 0)
                        {
                            <span>@Model.Rating</span>
                        }
                    </div>
                </div>
            </div>
            <div class="product__activity">
                <div class="product__price">
                    <p>@Model.CorrectPrice(Model.Price)</p>
                    <button class="price_history">
                        <svg width="45" height="24" viewBox="0 0 45 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="history" d="M4.73642 15.9639L5.72741 16.1027L14.785 7.04502C14.4283 5.75673 14.7652 4.29007 15.8157 3.25944C17.3616 1.69368 19.8589 1.69368 21.4048 3.25944C22.4553 4.29007 22.7922 5.75673 22.4355 7.04502L27.5292 12.1387L28.5202 12C28.8769 12 29.2138 12 29.5111 12.1387L36.5868 5.06304C36.4481 4.76574 36.4481 4.4288 36.4481 4.07205C36.4481 3.02074 36.8657 2.01249 37.6091 1.26911C38.3525 0.525723 39.3607 0.108093 40.412 0.108093C41.4633 0.108093 42.4716 0.525723 43.215 1.26911C43.9583 2.01249 44.376 3.02074 44.376 4.07205C44.376 5.12336 43.9583 6.1316 43.215 6.87499C42.4716 7.61837 41.4633 8.036 40.412 8.036C40.0553 8.036 39.7183 8.03601 39.421 7.89727L32.3454 14.9729C32.4841 15.2702 32.4841 15.6072 32.4841 15.9639C32.4841 17.0152 32.0665 18.0235 31.3231 18.7669C30.5797 19.5102 29.5715 19.9279 28.5202 19.9279C27.4688 19.9279 26.4606 19.5102 25.7172 18.7669C24.9738 18.0235 24.5562 17.0152 24.5562 15.9639L24.6949 14.9729L19.6013 9.87924C18.967 10.018 18.2535 10.018 17.6193 9.87924L8.56163 18.9369L8.70037 19.9279C8.70037 20.9792 8.28274 21.9874 7.53936 22.7308C6.79597 23.4742 5.78772 23.8918 4.73642 23.8918C3.68511 23.8918 2.67686 23.4742 1.93348 22.7308C1.19009 21.9874 0.772461 20.9792 0.772461 19.9279C0.772461 18.8766 1.19009 17.8683 1.93348 17.1249C2.67686 16.3815 3.68511 15.9639 4.73642 15.9639V15.9639Z" fill="#3ABBD1" />
                        </svg>
                    </button>
                </div>
                <div class="product__buttons">
                    <div class="fav_button">
                        <button class="favorite">
                            <svg width="60" height="57" viewBox="0 0 60 57" xmlns="http://www.w3.org/2000/svg">
                                <path id="favorite_product" d="M30 57L25.65 52.8997C10.2 38.3935 0 28.7951 0 17.0845C0 7.4861 7.26 0 16.5 0C21.72 0 26.73 2.51608 30 6.46104C33.27 2.51608 38.28 0 43.5 0C52.74 0 60 7.4861 60 17.0845C60 28.7951 49.8 38.3935 34.35 52.8997L30 57Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="comp_button">
                        <button class="compare">
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="chart-histogram_product">
                                    <path id="histogram" d="M4.375 4.375V30.625H30.625" stroke="#3ABBD1" stroke-linecap="round" stroke-linejoin="round" />
                                    <path id="histogram_2" d="M10.2085 21.875V24.7917" stroke="#3ABBD1" stroke-linecap="round" stroke-linejoin="round" />
                                    <path id="histogram_3" d="M16.0415 16.0417V24.7917" stroke="#3ABBD1" stroke-linecap="round" stroke-linejoin="round" />
                                    <path id="histogram_4" d="M21.875 4.375V24.7917" stroke="#3ABBD1" stroke-linecap="round" stroke-linejoin="round" />
                                    <path id="histogram_5" d="M27.7085 10.2083V24.7917" stroke="#3ABBD1" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    <div class="bask_button">
                        <button class="basket">
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="basket_product" d="M18 50C20.2019 50 22 51.7811 22 54C22 54.9946 21.6293 55.9508 20.9648 56.6846L20.8281 56.8281C20.078 57.5783 19.0609 58 18 58C17.0054 58 16.0492 57.6293 15.3154 56.9648L15.1719 56.8281C14.4217 56.078 14 55.0609 14 54C14 51.7746 15.7746 50 18 50ZM48 50C50.2019 50 52 51.7811 52 54C52 54.9946 51.6293 55.9508 50.9648 56.6846L50.8281 56.8281C50.078 57.5783 49.0609 58 48 58C47.0054 58 46.0492 57.6293 45.3154 56.9648L45.1719 56.8281C44.4217 56.078 44 55.0609 44 54C44 51.7746 45.7746 50 48 50ZM8.54004 2L10.8203 6.85059L11.3604 8H57C57.2652 8 57.5195 8.10543 57.707 8.29297C57.8946 8.4805 58 8.73478 58 9C58 9.12192 57.9612 9.3248 57.834 9.63086L47.1533 28.9365C46.4706 30.1614 45.1427 30.9999 43.6504 31H20.1201L19.5488 32.0332L16.8496 36.9229C16.6128 37.3362 16.5312 37.7551 16.5137 38.0947L16.5098 38.25L16.5234 38.5215C16.5859 39.1511 16.8642 39.743 17.3154 40.1943C17.8311 40.71 18.5305 40.9999 19.2598 41H52V43H18C17.0054 43 16.0492 42.6293 15.3154 41.9648L15.1719 41.8281C14.4217 41.078 14 40.0609 14 39C14 38.2919 14.1831 37.6251 14.4834 37.0645L14.4824 37.0635L18.5488 29.7402L19.0479 28.8418L18.6074 27.9131L7.80664 5.14258L7.26465 4H2V2H8.54004Z" stroke="#66A7C8" stroke-width="4" />
                            </svg>
                            <span>В корзину</span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="additional_info">
                <div class="quantity_div">
                    <span>
                        <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M54.2376 28.9375L43.8876 19.45L54.2376 11.1125C54.5251 11.1125 54.5251 10.825 54.5251 10.825C54.8126 10.25 54.5251 9.38748 53.9501 8.81248L39.5751 1.04998C39.0001 0.762476 38.4251 0.762476 38.1376 1.04998L27.5001 9.09998L16.8626 1.04998C16.2876 0.762476 15.7126 0.762476 15.4251 1.04998L1.05011 8.81248C0.762611 8.81248 0.762612 9.09998 0.762612 9.09998C-0.0998884 9.38748 0.187612 10.5375 0.762612 10.825L11.1126 19.1625L0.762612 28.65L0.475111 28.9375C0.187611 29.5125 0.475111 30.375 1.05011 30.95L11.6876 36.7V43.8875C11.6876 44.4625 11.9751 44.75 12.2626 45.0375L26.6376 53.6625C26.9251 53.6625 27.2126 53.95 27.5001 53.95C27.7876 53.95 28.0751 53.95 28.3626 53.6625L42.7376 45.0375C43.3126 44.75 43.3126 44.175 43.3126 43.8875V36.7L53.9501 30.95L54.2376 30.6625C55.1001 30.375 54.8126 29.5125 54.2376 28.9375ZM39.0001 3.63748L50.7876 9.96248L41.8751 17.725L30.0876 10.825L39.0001 3.63748ZM39.2876 19.45L27.5001 27.2125L15.7126 19.45L27.5001 12.55L39.2876 19.45ZM4.21261 9.96248L16.0001 3.63748L25.2001 10.5375L13.1251 17.725L4.21261 9.96248ZM4.21261 29.5125L13.4126 20.8875L25.2001 28.65L16.0001 36.125L4.21261 29.5125ZM40.4376 43.6L27.5001 51.3625L14.5626 43.6V38.7125L15.4251 39C15.4251 39 15.7126 39 16.0001 39C16.2876 39 16.5751 39 16.8626 38.7125L27.5001 30.375L38.1376 38.7125C38.4251 39 38.7126 39 39.0001 39C39.2876 39 39.5751 39 39.5751 38.7125L40.4376 38.425V43.6ZM39.0001 36.125L29.8001 28.9375L41.5876 21.175L50.7876 29.8L39.0001 36.125Z" fill="#3ABBD1" />
                        </svg>
                        В наличии: <span class="quantity">@Model.QuantityString()</span>
                    </span>
                </div>
                <div class="delivery_div">
                    <span>
                        <svg width="62" height="42" viewBox="0 0 62 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M7.75016 24.875L5.81266 21H19.3752L17.8252 17.125H5.16683L3.22933 13.25H23.3793L21.8293 9.37498H2.86766L0.645996 5.49998H10.3335C10.3335 4.12969 10.8778 2.81553 11.8468 1.84659C12.8157 0.877656 14.1299 0.333313 15.5002 0.333313H46.5002V10.6666H54.2502L62.0002 21V33.9166H56.8335C56.8335 35.9721 56.017 37.9433 54.5636 39.3967C53.1102 40.8501 51.1389 41.6666 49.0835 41.6666C47.0281 41.6666 45.0568 40.8501 43.6034 39.3967C42.15 37.9433 41.3335 35.9721 41.3335 33.9166H31.0002C31.0002 35.9721 30.1837 37.9433 28.7302 39.3967C27.2768 40.8501 25.3056 41.6666 23.2502 41.6666C21.1947 41.6666 19.2235 40.8501 17.7701 39.3967C16.3167 37.9433 15.5002 35.9721 15.5002 33.9166H10.3335V24.875H7.75016ZM49.0835 37.7916C50.1112 37.7916 51.0968 37.3834 51.8235 36.6567C52.5502 35.93 52.9585 34.9444 52.9585 33.9166C52.9585 32.8889 52.5502 31.9033 51.8235 31.1766C51.0968 30.4499 50.1112 30.0416 49.0835 30.0416C48.0558 30.0416 47.0702 30.4499 46.3435 31.1766C45.6168 31.9033 45.2085 32.8889 45.2085 33.9166C45.2085 34.9444 45.6168 35.93 46.3435 36.6567C47.0702 37.3834 48.0558 37.7916 49.0835 37.7916ZM52.9585 14.5416H46.5002V21H58.0218L52.9585 14.5416ZM23.2502 37.7916C24.2779 37.7916 25.2635 37.3834 25.9902 36.6567C26.7169 35.93 27.1252 34.9444 27.1252 33.9166C27.1252 32.8889 26.7169 31.9033 25.9902 31.1766C25.2635 30.4499 24.2779 30.0416 23.2502 30.0416C22.2225 30.0416 21.2368 30.4499 20.5101 31.1766C19.7834 31.9033 19.3752 32.8889 19.3752 33.9166C19.3752 34.9444 19.7834 35.93 20.5101 36.6567C21.2368 37.3834 22.2225 37.7916 23.2502 37.7916Z" fill="#3ABBD1" />
                        </svg>
                        Доставим в Астрахань <span class="delivery">завтра</span>
                    </span>
                </div>
            </div>
            <div class="variations">
                <span>Нет вариаций товара</span>
            </div>
        </div>
    </section>
    <section class="additonal__info">
        <div class="top__info">
            <div class="popular__compares">
                <h2>Часто сравнивают с:</h2>
                @*Тут нужно будет реализовать цикл *@
                <div class="mini__product">
                    <img class="mini__image" />
                    <div class="mini__info">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="mini__rating">
                    </div>
                </div>
            </div>
            <div class="description">
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="specs">
            <h1>Характеристики</h1>
            @foreach (var specs in Model.PropertiesDict())
            {
                <div class="specs__block">
                    <h2 class="block__title">@specs.Key</h2>
                    <div class="block__grid">
                        @foreach (var dict in specs.Value)
                        {
                            @foreach (var list in dict)
                            {
                                <div class="list__specs">
                                    <h3>@list.Key</h3>
                                    <p>@list.Value</p>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </section>
</section>